{% from 'bootstrap/utils.html' import render_messages %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Get Smule!</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
      {{ render_messages(dismissible=True, dismiss_animate=True) }}
      {% block content %}{% endblock %}
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Video downloader for <a href="https://www.smule.com/">Smule</a> by <a href="https://github.com/namrebmob/">namrebmob</a>.</p>
    </div>
  </footer>
</div>
{{ bootstrap.load_js() }}
</body>
</html>
